/* Font Style */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url('../Images/Hero-bg.png');
    background-size: cover;
}
/* Navbar Section */
.navbar-section{
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0 70px;
    padding-top: 10px;
    padding-left: 10px;
}
.nav-btn{
    background-color:#4E47FF ;
    color: white;
    padding: 9px 18px;
    font-size: 18px;
    border-radius: 10px;
    border: none;

    

}
.nav-btn:hover{
    background-color: orange;
}


/* Banner Section */
.banner-section{
    text-align: center;
    padding: 90px 0 90px 0;
}
.banner-content{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    width: 900px;
    height: 150px;
    padding-left: 250px;
    margin: 29px 10px 0 px 10px;

}

main{
    max-width: 1140px;
    margin: 0 auto;
}


/* Action Section */
.action-section{
    display: flex;
    justify-content: space-between;
    gap: 300px;
    align-items: center;
    margin: 50px 20px 50px 20px;
    padding: 20px 40px 20px 40px;
}
.image{
    font-size: 30px;
    width: 430px;
    height: 328px;
    border-radius: 20px;
}
.action-text{
    font-size: 15px;
    color: #8987A1;
    font-weight: 30;
    
}


/* Productive Users Section */
.productive-users{
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin: 50px 0 0 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
    
}
.item-box{
    color: #4E47FF;

}
.item-box h2{
    color: #4E47FF;
    font-size: 60px;

}
.item-box p{
    font-size: 15px;
    color: #8987A1;
    column-gap: 1px;

}

/* Feedback Section */
.feedback h2{
    text-align: center;
}
.feedback-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    
}
.reviewer{
    background-color:#F2EDED;
    border-radius: 5px;
    
}
.review-text{
    padding: 15px;
}
.reviewer-profile{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.star{
    padding: 15px;
}


.webflow{
    flex-direction: column;
    text-align: center;
}
.webflow h2{
    font-size: 40px;
    font-weight: bold;
}
.webflow-img{
    border-radius: 10px;
}
.webflow p{
    color: #8987A1;
}
.get-button{
    /* padding: 10px 10px; */
    margin: 20px 20px;
}

/* Input Section */
.input-section{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    /* background-color: #D6DDED;
     */
}
.input-section-text{
    font-size: 60px;
    font-weight: bold;
    width: 400px;
    height: 100px;
    margin: 70px 70px;
    
}
form input[type="email"],form input[type="text"],form textarea{
    /* height: 64px; */
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px 0 0 0;
    margin-bottom: 20px;
    border: 1px solid #D6DDED;
    display: block;
}
.input{
    border-radius: 5px;
}
.get-btn{
    font-size: 10px;
    padding: 10px 80px;

}
footer{
    text-align: center;
     padding: 30px 45px;
}
footer p{
    padding: auto;
    color: #8987A1;
    font-size: 15px;
    font-weight: 180px;
}
footer h1{
    padding-top: 30px;
}
   
ul li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #8987A1;
}